.reset,
.notifications,
.avatars {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

/* settings Left CSS ************************************ */
.left-pro-container {
    width: 50%;
    display: flex;
    justify-content: center;
}

.left-pro-content {
    width: 65%;
    text-align: center;
    padding: 20px;
}

.material-symbols-outlined {
    color: rgb(173, 169, 169);
}

.fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.birthday,
.discord,
.avatar {
    margin-bottom: 0;
}

.reset-btn {
    text-shadow: 1px 1px 2px black;
    width: 180px;
    padding: 0.8rem 1rem;
}

.password,
.settings {
    margin-top: 50px;
}

/* settings Right CSS ************************************ */
/* .notes,
.list {
    display: flex;
    flex-direction: column;
    font-size: small;
    align-items: flex-start;
    margin-bottom: 0.2rem;
} */
.ul-list,
.notes {
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    font-size: small;
    align-items: flex-start;
    margin-bottom: 0.2rem;
}

.disabled {
    display: flex;
    text-align: end;
    font-weight: bold;
    font-size: 0.8rem;
    max-width: 50%;
    background-color: transparent;
    color: white;
    font-size: 1rem;
}

.editable {
    /* Override disabled styles for editing */
    background-color: #fff; /* Or your desired background color */
    border: 1px solid #ccc; /* Or your desired border */
    color: #000; /* Or your desired text color */
    text-align: end;
    max-width: 50%;
}
