/* settings CSS ************************************ */
.fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-weight: bold;
}
.labels {
    font-weight: bold;
}
.birthday,
.discord,
.avatar {
    margin-bottom: 15px;
}
.notifications,
.avatars {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.material-symbols-outlined {
    color: rgb(173, 169, 169);
}

.formFieldsDiv {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.trashCanContainer {
    width: 20px;
    height: 20px;
}

.trashCan {
    width: 20px !important;
    height: 20px !important;
}

.trashCan:hover {
    cursor: pointer;
    color: rgb(168, 148, 103);
}
