.container {
    margin: 0;
    padding: 0;
}


.hero-section-four {
    position: relative;
    /* background-image: linear-gradient(360deg, hsla(244, 71%, 4%, 1) 0%, hsla(296, 37%, 15%, 1) 50%); */
    background-image: radial-gradient(circle, hsla(296, 37%, 15%, 1) 50%, hsla(244, 71%, 4%, 1) 99%);
    padding-bottom: 10px;
}
.hero-section-four::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Stars.png');
    background-size: cover;
    background-repeat: repeat;
    z-index: 0;
}
.footer-container {
    position: relative;
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: none;
    color: rgb(168, 148, 103);
    padding: 20px 0;
}

.footer-menu {
    display: flex;
    justify-content: center;
}

.footer-menu a {
    color: rgb(168, 148, 103);
    text-decoration: none;
    margin: 0 10px;
}

.footer-menu a:hover {
    text-decoration: underline;
    color: white;
}

