@import './fonts/fonts.css';

#root {
  font-family: Playfair Display, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgb(168, 148, 103);
  font-synthesis: none;
}

/* CSS HEX 
--yale-blue: #093A6Eff;
--rich-black: #040312ff;
--russian-violet: #3D1D46ff;
--plum: #9A4587ff;
--green-blue: #0267A6ff;
--dark-purple: #241431ff;
--oxford-blue: #052046ff;
*/

/* Linear Gradient
background: hsla(244, 71%, 4%, 1);
background: linear-gradient(180deg, hsla(244, 71%, 4%, 1) 0%, hsla(296, 37%, 15%, 1) 34%); 
*/

/* Radial Gradient
radial gradient: background: hsla(296, 37%, 15%, 1);
background: radial-gradient(circle, hsla(296, 37%, 15%, 1) 50%, hsla(244, 71%, 4%, 1) 99%); 
*/