#root {
    color: white;
}

/* :root {
    --main-color: rgb(168, 148, 103);
    --secondary-color: white;
    --background-color: hsla(296, 37%, 15%, 1);
    --background-gradient: radial-gradient(circle, hsla(296, 37%, 15%, 1) 50%, hsla(244, 71%, 4%, 1) 99%);
} 
    .theme1 {
    --main-color: rgb(168, 148, 103);
    --secondary-color: white;
    --background-color: hsla(296, 37%, 15%, 1);
    --background-gradient: radial-gradient(circle, hsla(296, 37%, 15%, 1) 50%, hsla(244, 71%, 4%, 1) 99%);
}
    .theme2 {
    --main-color: rgb(168, 148, 103);
    --secondary-color: white;
    --background-color: hsla(296, 37%, 15%, 1);
    --background-gradient: radial-gradient(circle, hsla(296, 37%, 15%, 1) 50%, hsla(244, 71%, 4%, 1) 99%);
}
    .theme3 {
    --main-color: rgb(168, 148, 103);
    --secondary-color: white;
    --background-color: hsla(296, 37%, 15%, 1);
    --background-gradient: radial-gradient(circle, hsla(296, 37%, 15%, 1) 50%, hsla(244, 71%, 4%, 1) 99%);
}
*/

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 100;
    background-image: radial-gradient(circle, hsla(296, 37%, 15%, 1) 50%, hsla(244, 71%, 4%, 1) 99%);
    /* background-image: var(--background-gradient); */
    /* background-color: var(--background-color); */
}

h1 {
    font-family: 'Lugrasimo', cursive, Playfair Display, Arial, sans-serif;
    font-size: 60px;
    font-style: normal;
    color: rgb(168, 148, 103);
    /* color: var(--main-color); */
    text-shadow: 2px 2px 2px black;
}

h2 {
    font-family: 'Macondo', cursive, Playfair Display, Arial, sans-serif;
    color: rgb(168, 148, 103);
    /* color: var(--main-color); */
    text-shadow: 2px 2px 1px black;
    z-index: 5;
}

h3 {
    font-family: 'Quicksand', sans-serif, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 100;
}

.button,
.logout-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.1em;
    margin: 1.5em;
    width: 170px;
    font-size: 1.1em;
    font-weight: 300;
    font-family: 'Quicksand';
    background-color: rgb(168, 148, 103);
    box-shadow: 1px 1px 5px black;
    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
    text-align: center;
}

.button:hover,
.logout-button:hover {
    border-color: #f0edd8ff;
}

.logout-button {
    margin-right: 15px;
    margin-left: 15px;
}

hr {
  border-color: rgb(168, 148, 103);
  margin-top: 15px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #382337;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #a89467;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: slategrey;
}

/* Linear Gradient
background: hsla(244, 71%, 4%, 1);
background: linear-gradient(180deg, hsla(244, 71%, 4%, 1) 0%, hsla(296, 37%, 15%, 1) 34%); 
*/

/* Radial Gradient
radial gradient: background: hsla(296, 37%, 15%, 1);
background: radial-gradient(circle, hsla(296, 37%, 15%, 1) 50%, hsla(244, 71%, 4%, 1) 99%); 
*/
