:root {
    --h2-color: #a89467;
    --h2-text-shadow: 2px 2px 1px #121212;
    --hr-border-color: #a89467;
    --text-color: #fafaf7;
    --background-color: #331834;
    --avatar-settings-border: 2px solid #808080;
    --panel-color: #4f334a;
    --button-color: #a89467;
    --icon-color: #a89467;
    --trash-can-hover-color: #7b2c2c;
    --editable-background-color: #fafaf7;
    --editable-border-color: #ccc;
    --editable-text-color: #121212;
    --fields-input-background-color: #4f3052;
    --fields-input-border-color: #a89467;
    --fields-input-text-color: #fafaf7;
}

.theme-moody {
    --background-color: #fcfbfb;
    --h2-color: #7b2c2c;
    --h2-text-shadow: none;
    --hr-border-color: #121212;
    --text-color: #7b2c2c;
    --disabled-color: #7b2c2c;
    --avatar-settings-border: 2px solid #7b2c2c;
    --panel-color: #121212;
    --button-color: #7b2c2c;
    --icon-color: #561e1e;
    --trash-can-hover-color: #7b2c2c;
    --editable-background-color: #d0c9c0;
    --editable-border-color: #a89467;
    --editable-text-color: #121212;
    --fields-input-background-color: #d0c9c0;
    --fields-input-border-color: #a89467;
    --fields-input-text-color: #561e1e;
}

/* .theme-fall {
    --background-color: #141414;
    --text-color: #DAA520;
    --panel-color: #8C3D00;
    --button-color: #372B4F;
    --icon-color: #D7D5CE;

} */
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 100;
    background-color: var(--background-color);
    color: var(--text-color);
}

h1 {
    font-family:
        'Lugrasimo',
        cursive,
        Playfair Display,
        Arial,
        sans-serif;
    font-size: 60px;
    font-style: normal;
    color: #a89467;
    text-shadow: 1px 1px 5px #121212;
}

h2 {
    font-family:
        'Macondo',
        cursive,
        Playfair Display,
        Arial,
        sans-serif;
    color: var(--h2-color);
    text-shadow: var(--h2-text-shadow);
    z-index: 5;
}

h3 {
    font-family: 'Quicksand', sans-serif, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 100;
}

.button,
.logout-button {
    background-color: var(--button-color);
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.1em;
    margin: 1.5em;
    width: 170px;
    font-size: 1.1em;
    font-weight: 300;
    font-family: 'Quicksand';
    box-shadow: 1px 1px 5px #121212;
    color: #fafaf7;
    cursor: pointer;
    transition: border-color 0.25s;
    text-align: center;
}

.button:hover,
.logout-button:hover {
    border-color: #f0edd8ff;
}

.logout-button {
    margin-right: 15px;
    margin-left: 15px;
}

.material-symbols-outlined {
    color: var(--icon-color);
}

hr {
    border-color: var(--hr-border-color);
    margin-top: 15px;
}

.fields-input {
    background-color: var(--fields-input-background-color);
    border: 1px solid var(--fields-input-border-color);
    color: var(--fields-input-text-color);
    height: 26px;
}

.editable {
    background-color: var(--editable-background-color);
    border: 1px solid var(--editable-border-color);
    color: var(--editable-text-color);
    text-align: end;
    max-width: 50%;
}

.disabled {
    display: flex;
    text-align: end;
    font-weight: bold;
    font-size: 0.8rem;
    max-width: 50%;
    background-color: transparent;
    color: var(--disabled-color);
    font-size: 1rem;
}
.avatar-settings {
    border: var(--avatar-settings-border);
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #382337;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #a89467;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #708090;
}
