
/* Dashboard Left CSS *********************************************************************************** */
.left-side-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.left-side-content {
    width: 80%;
    text-align: center;
}

.carousel-spread {
    margin-bottom: 10px;
}



.carousel-items {
    width: 130px; /* Adjust width as needed */
}

.my-decks, 
.my-spreads, 
.fav-decks {
    text-align: center;
    margin-bottom: 40px;
}
.my-spreads img {
    border: 2px solid rgb(168, 148, 103);
    border-radius: 5px;
    margin-right: 10px;
}
.hr-spread {
    width: 60%;
    margin-bottom: 30px;
}
/* Dashboard Right CSS *********************************************************************************** */
.right-side-container {
    width: 50%;
    
    display: flex;
    justify-content: center;
    border-left: 1px solid rgb(168, 148, 103);
}

.right-side-content {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 5px;
}

.header-right {
    text-align: center;
}

.hr-right {
    width: 60%;
    margin-top: auto;
}

.journal-link {
    color: rgb(168, 148, 103);
    text-decoration: none;
    transition: color 0.3s;
}

.journal-link h3 {
    text-align: left;
    color: rgb(168, 148, 103);
    font-weight: bold;
}

.journal-entries {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.date-span {
    float: right;
}

.titles {
    text-align: left;
    color: rgb(168, 148, 103);
    font-weight: bold;
}

.arrow-entries {
    text-align: center;
    margin-top: 20px;
}

.arrow-entries span {
    text-decoration: none;
    margin-bottom: 1.1rem;
}