.privacy-logo,
.privacy-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.privacy {
    margin-top: 15px;
    font-size: xxx-large;
}

.privacy-p {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 65%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}