.infoSections {
    width: 70%;
    margin: auto;
    margin-top: 2rem;
}

.infoHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
}
.form-section {
    width: 80%;
    margin: 2rem auto;
    text-align: left;
}

.field-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.label-style {
    min-width: 100px;
    text-align: left;
    margin-right: 10px;
}

.message {
    display: flex;
    align-items: start;
}
.input-field {
    width: 35%;
    text-align: end;
}

.textarea-field {
    height: 120px;
}

.button-container {
    text-align: center;
    margin-top: 30px;
}
