/* Navigation Links CSS ******************************************************************/
.nav-link-container {
    height: 100%;
    width: 150px;
    background-color: #4f3052;
    padding-left: 5px;
    /* padding-top: 5px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.links-ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.links-li {
    margin-bottom: 0.4rem;
}

.nav-link-font {
    text-decoration: none;
    color: #FAFAF7;
    text-shadow: 1px 1px 2px #121212;
    font-size: 18px;
    line-height: 35px;
}

/* Navigation Icons CSS ******************************************************************/
.nav-icons-container {
    height: 100%;
    width: 50px;
    background-color: #4f3052;
    /* padding-top: 5px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
}

.icon-styling {
    text-decoration: none;
    color: #FAFAF7;
    text-shadow: 1px 1px 1px #121212;
}