.reading-aside {
    height: calc(100vh - 68px); /* Keeps the aside element within the viewport */
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.decks-container,
.spreads-container {
    flex-grow: 1;
    overflow-y: auto; /* Enable scrolling */
    max-height: calc(100vh - 120px); /* Limit height to fit within the viewport */
    overscroll-behavior: contain;
    transition: max-height 0.3s ease;
}

/* Shared slide styles */
.deck-slide,
.spread-slide {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    margin: 1.5em auto;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #a89467;
    padding-bottom: 0.7em;
}

.deck-slide:last-child,
.spread-slide:last-child {
    border-bottom: none;
}

/* Shared image styles */
.deck-slide img,
.spread-slide img {
    width: 80%;
    height: auto;
    border: 3px solid #382337;
    border-radius: 0.5em;
    transition: 0.2s;
}

.deck-slide img:hover,
.spread-slide img:hover {
    border: 3px solid #a89467;
    cursor: pointer;
}

/* Text styles for deck and spread slides */
.deck-slide p,
.spread-slide p {
    font-size: 1.1em;
    font-weight: 300;
    font-family: 'Quicksand';
    color: #fafaf7;
    text-align: center;
    margin: 0;
}

/* Buttons for deck and spread info */
.deck-info-btn,
.spread-info-btn {
    border-radius: 8px;
    background-color: #a89467;
    padding: 0.5em 0;
    margin: 0.7em 0 0.5em;
    width: 70%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #382337;
    font-weight: bold;
    font-size: 0.8em;
}

.deck-info-btn:hover,
.spread-info-btn:hover {
    background-color: #fafaf7;
}
