/* Main container for the entire reading section */
.reading-aside {
    height: calc(100vh - 68px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Container background for the buttons */
.button-background {
    background-color: #382337;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

/* Container for the sliding effect */
.slide-container {
    display: flex;
    width: 200%;
    height: 100%;
    transition: transform 0.5s linear;
}

/* Spreads panel is visible */
.show-spreads {
    transform: translateX(0);
}

/* Decks panel is visible */
.show-decks {
    transform: translateX(-50%);
}

/* Common container styling for spreads and decks */
.spreads-container,
.decks-container {
    width: 50%;
    height: calc(100% - 4.5em);
    overflow-y: auto;
    box-sizing: border-box;
}

/* Spreads container with left-side scrollbar */
.spreads-container {
    direction: rtl;
}

/* Ensures content inside spreads container remains left-to-right */
.spreads-container * {
    direction: ltr;
}

/* Decks container with default right-side scrollbar */
.decks-container {
    direction: ltr;
}

/* Common styling for individual slides (spreads and decks) */
.spread-slide,
.deck-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1.5em auto;
    width: 80%;
    border-bottom: 1px solid #a89467;
    padding-bottom: 0.7em;
}

/* Add top padding and border to the first slide */
.spread-slide:first-child,
.deck-slide:first-child {
    padding-top: 1.2em;
    border-top: 1px solid #a89457;
}

/* Common styling for images in spreads and decks */
.spread-slide img,
.deck-slide img {
    width: 100%;
    height: auto;
    border: 3px solid #382337;
    border-radius: 0.5em;
    transition: 0.2s;
}

/* Hover effect for images */
.spread-slide img:hover,
.deck-slide img:hover {
    border: 3px solid #a89467;
    cursor: pointer;
}

/* Text styling for spreads and decks */
.spread-slide p,
.deck-slide p {
    font-size: 1.1em;
    font-weight: 300;
    color: #fafaf7;
    text-align: center;
    margin: 0;
}

/* Common styling for info buttons */
.reading-button,
.spread-info-btn,
.deck-info-btn {
    border-radius: 6px;
    background-color: #a89467;
    padding: 0.5em 0;
    margin: 0.7em 0 0.5em;
    width: 70%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #382337;
    font-weight: bold;
    font-size: 0.8em;
}

/* Hover effect for info buttons */
.reading-button:hover,
.spread-info-btn:hover,
.deck-info-btn:hover {
    background-color: #fafaf7;
}
