.container {
    margin: 0;
    padding: 0;
}

.hero-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('TarotHeader1.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Stars.png');
    background-size: cover;
    background-repeat: repeat;
    z-index: 0;
}
.hero-one-font {
    color: rgb(168, 148, 103);
    text-shadow: 1px 1px 2px black;
    position: relative;
    z-index: 1; 
}
.hero-section-one {
    justify-content: center;
}
.moon-up {
    margin-top: 20px;
}

.hero-two-font, .spread-font {
    color: white;
    text-shadow: 2px 2px 2px rgb(168, 148, 103);
    position: relative;
    z-index: 1;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spread-font {
    margin-top: 20px;
    margin-bottom: 20px;
}
.spread-desc {
    margin-left: 25px;
    width: 350px;
}

.hero-two-p {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section-two {
    position: relative;
    /* background-image: linear-gradient(180deg, hsla(244, 71%, 4%, 1) 0%, hsla(296, 37%, 15%, 1) 20%); */
    background-image: radial-gradient(circle, hsla(296, 37%, 15%, 1) 50%, hsla(244, 71%, 4%, 1) 99%);
    padding-bottom: 10px;
    padding-top: 20px;
}
.hero-section-two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Stars.png');
    background-size: cover;
    background-repeat: repeat;
    z-index: 0;
}

.table-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items:baseline;
    justify-content: space-evenly;
    margin-top: 65px;
    margin-bottom: 50px;
}

.table-container img {
    box-shadow: 0 0 20px 5px rgb(168, 148, 103);
    max-width: 375px;
}

@keyframes flowIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.flow-in-animation {
    animation: flowIn 1s forwards;
}

.hero-section-three {
    position: relative;
    background-image: url('Hero2Dark.png');
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}
.hero-section-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Stars.png');
    background-size: cover;
    background-repeat: repeat;
    z-index: 0;
}

.icons-row {
    margin-top: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 2;
    cursor: pointer;
    flex-wrap: wrap;

    @media (max-width: 768px) {
        justify-content: space-evenly;
        width: 100%;
    }
}

.icons-row img {
    display: flex;
    width: 200px;
    height: 200px;
    margin: 5px 10px;
    z-index: 0;
}

.icons-row h3 {
    text-shadow: 2px 2px 2px black;
}

.hero-section-four {
    position: relative;
    /* background-image: linear-gradient(360deg, hsla(244, 71%, 4%, 1) 0%, hsla(296, 37%, 15%, 1) 50%); */
    background-image: radial-gradient(circle, hsla(296, 37%, 15%, 1) 50%, hsla(244, 71%, 4%, 1) 99%);
    padding-bottom: 10px;
}
.hero-section-four::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Stars.png');
    background-size: cover;
    background-repeat: repeat;
    z-index: 0;
}
.footer-container {
    position: relative;
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: none;
    color: rgb(168, 148, 103);
    padding: 20px 0;
}

.footer-menu {
    display: flex;
    justify-content: center;
}

.footer-menu a {
    color: rgb(168, 148, 103);
    text-decoration: none;
    margin: 0 10px;
}

.footer-menu a:hover {
    text-decoration: underline;
    color: white;
}

.descriptions {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 80px;
    max-width: 80%;
    margin: 80px auto;
    text-shadow: 1px 1px 1px rgb(168, 148, 103);
}