.hero-two-font {
  color: white;
  text-shadow: 2px 2px 2px rgb(168, 148, 103);
  position: relative;
  z-index: 1;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spread-desc {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 65vw;
}

.hero-section-two {
  position: relative;
  background-image: radial-gradient(circle, hsla(296, 37%, 15%, 1) 50%, hsla(244, 71%, 4%, 1) 99%);
  padding-bottom: 10px;
  padding-top: 20px;
}

.hero-section-two::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('Stars.png');
  background-size: cover;
  background-repeat: repeat;
  z-index: 0;
}

#grid {
  margin: 0 auto;
  height: 60vh;
  width: 70vw;
  transition: 500ms;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3px;
  background: rgb(168, 148, 103);
  border: 3px solid rgb(168, 148, 103);
  z-index: 3;
  position: relative;
}

:where(.left-img, .center-img, .right-img) {
  background: navajowhite;
  transition: 300ms;
}

:where(.left-img, .center-img, .right-img):hover {
  background: rgb(168, 148, 103);
}

#grid:has(.left-img:hover) {
  grid-template-columns: 2fr 0.5fr 0.5fr;
}

#grid:has(.center-img:hover) {
  grid-template-columns: 0.5fr 2fr 0.5fr;
}

#grid:has(.right-img:hover) {
  grid-template-columns: 0.5fr 0.5fr 2fr;
}

.descriptions {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 80px;
  max-width: 80%;
  margin: 80px auto;
  text-shadow: 1px 1px 1px rgb(168, 148, 103);
}

.left-img {
  background-image: url('GoldSmoke.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.center-img {
  background-image: url('Star2.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.right-img {
  background-image: url('CrystalPanel.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.left-img:hover {
  background-image: url('OneCard.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.center-img:hover {
  background-image: url('ThreeCards.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.right-img:hover {
  background-image: url('SixCards.png');
  background-size: cover;
  background-repeat: no-repeat;
}