.profile-container {
    display: flex;
    flex-direction: column;
}

.intro-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-right: 100px;
}

.profile-data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 80px;
}
