.carousel {
    display: flex;
    flex-direction: column;
    height: 100%; /* Occupy full height of the parent */
    transition: transform 0.5s ease; /* Smooth transition for panel change */
}

.panel {
    height: 100vh; /* Each panel takes up full viewport height */
    width: 100%; /* Occupy full width */
    display: flex;
    justify-content: center;
    align-items: center;
}