
.footer-container {
    position: relative;
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: none;
    color: rgb(168, 148, 103);
    padding: 20px 0;
}

.footer-menu {
    display: flex;
    justify-content: center;
}

.footer-menu a {
    color: rgb(168, 148, 103);
    text-decoration: none;
    margin: 0 10px;
}

.footer-menu a:hover {
    text-decoration: underline;
    color: white;
}