
/* Settings Right CSS ************************************ */
.right-set-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid lightgrey;
}
/* .notes,
.list {
    display: flex;
    flex-direction: column;
    font-size: small;
    align-items: flex-start;
    margin-bottom: 0.2rem;
} */
.reset,
.notifications,
.avatars {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

 .ul-list,
.notes {
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    font-size: small;
    align-items: flex-start;
    margin-bottom: 0.2rem;
}

.disabled {
    display: flex;
    text-align: end;
    font-weight: bold;
    font-size: 0.8rem;
    max-width: 50%;
    background-color: transparent;
    color: white;
    font-size: 1rem;
}

.editable {
    /* Override disabled styles for editing */
    background-color: #fff; /* Or your desired background color */
    border: 1px solid #ccc; /* Or your desired border */
    color: #000; /* Or your desired text color */
    text-align: end;
    max-width: 50%;
}

.avatarImg {
    user-drag: none; /* Standard syntax */
    -webkit-user-drag: none; /* WebKit browsers */
    -khtml-user-drag: none; /* KHTML browsers */
    -moz-user-drag: none; /* Mozilla browsers */
    border: 5px solid transparent;
}

.avatarImg:hover {
    border: 5px solid rgb(168, 148, 103);
}

.selectedAvatar {
    border: 5px solid transparent !important;
    border-radius: 50% !important;
    width: 122px;
    height: 122px;
    padding: 32px 56px;
} 
