.header-home {
    position: relative;
    z-index: 1;
}

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    background-image: url('TarotHeader1.png');
    background-size: cover;
    background-position: center;
}
.account-circle {
   position: absolute;
   top: 50px;
   right: 50px;
    z-index: 2;
    font-size: 56px;
}