
.hero-section-four {
    position: relative;
    /* background-image: linear-gradient(360deg, hsla(244, 71%, 4%, 1) 0%, hsla(296, 37%, 15%, 1) 50%); */
    background-image: radial-gradient(circle, hsla(296, 37%, 15%, 1) 50%, hsla(244, 71%, 4%, 1) 99%);
    padding-bottom: 5px;
}
.hero-section-four::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Stars.png');
    background-size: cover;
    background-repeat: repeat;
    z-index: 0;
}

