/* Light Purple Hex 4F3052 */
.custom-drawer {
    position: fixed;
    top: 150px;
    right: 0;
    width: 220px;
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    align-items: flex;
    background-color: #4F3052;
    padding-top: 20px;
    padding-left: 30px;
    /* padding: 20px 30px; */
    z-index: 20;
    overflow-y: auto;
    transition: width 1s ease;
}
.hamburger-menu {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 45px;
    cursor: pointer;
    background-color:#2a102a;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 25px;
}

.bar {
    width: 60%;
    height: 1px;
    margin: 6px;
    background-color: #f8f2f2;
}

.links img, .linkOne img {
    width: 55px;
}

.links, .linkOne {
    color: rgb(168, 148, 103);
    text-decoration: none;
    margin-bottom: 30px;
    transition: opacity 0.3s ease;
}
.linkOne {
    margin-top: 60px;
}
.linkOne.collapsed {
    margin-top: 60px;
}
.links:hover {
    color: white;
}
.active-link {
    color: white;
}
.active-link img {
    transform: scale(1.2);
}
.custom-drawer.collapsed {
    width: 110px;
    justify-content: start;

}

.collapse-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100vh;
    background-color: rgb(85, 64, 93);
    transition: background-color 0.3s ease;
    z-index: 6;
}
.collapse-bar:hover {
    background-color: rgba(255, 255, 255, 0.6);;
}
.horizontal-divider {
    right: 0;
    border-top: 1px solid gray;
    display: flex;
    
}